* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

main {
  height: 100vh;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cars-section {
  max-width: 92rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.sedan-box {
  background-color: #e28625;
  border-radius: 8px 0 0 8px;
}

.suv-box {
  background-color: #006971;
}

.luxury-box {
  background-color: #004140;
  border-radius: 0 8px 8px 0;
}

.icon {
  padding: 4.8rem 0 0 4.8rem;
  margin-bottom: 3.5rem;
}

.title {
  font-family: "Big Shoulders Display", cursive;
  padding: 0 4.8rem;
  font-size: 4rem;
  font-weight: 700;
  color: #f2f2f2;
  line-height: 4.78rem;
  text-transform: uppercase;
  margin-bottom: 2.5rem;
}

.text,
.btn {
  font-family: "Lexend Deca", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.5rem;
}

.text {
  color: #fff;
  opacity: 0.75;
  padding: 0 4.75rem;
  margin-bottom: 8.3rem;
}

.btn {
  display: inline-block;
  text-decoration: none;
  background-color: #f2f2f2;
  padding: 1.1rem 3.15rem 1.2rem 3.15rem;
  border-radius: 2.5rem;
  margin: 0 11rem 4.8rem 4.8rem;
  border: 1px solid transparent;
}

.sedan-btn {
  color: #e28625;
}

.suv-btn {
  color: #006971;
}

.luxury-btn {
  color: #004140;
}

.btn:hover {
  border: 1px solid #fff;
  color: #fff;
  margin: 0 11rem 4.8rem 4.8rem;
  cursor: pointer;
}

.sedan-btn:hover {
  background-color: #e28625;
}

.suv-btn:hover {
  background-color: #006971;
}

.luxury-btn:hover {
  background-color: #004140;
}

@media all and (max-width: 59em) {
  * {
    box-sizing: border-box;
  }

  html {
    font-size: 56.25%;
  }

  .cars-section {
    max-width: 60rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .box {
    flex: 1 0 40%;
  }

  .btn {
    margin: 0 4rem 4.8rem 4.4rem;
  }

  .btn:hover {
    margin: 0 4rem 4.8rem 4.4rem;
  }
}

@media all and (max-width: 44.5em) {
  * {
    box-sizing: border-box;
  }

  html {
    font-size: 56.25%;
  }

  main {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .cars-section {
    max-width: 32.7rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60rem;
  }

  .sedan-box {
    border-radius: 8px 8px 0 0;
  }

  .suv-box {
    border-radius: 8px 8px 8px 8px;
  }

  .luxury-box {
    border-radius: 0 0 8px 8px;
  }

  .text {
    padding: 0 4.75rem 0 4.8rem;
    margin-bottom: 2.5rem;
  }
}
